{{>licenseInfo}}
package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

public interface {{className}} extends Api {
{{#operations}}

{{>api_description}}
{{>api_annotations}}
  {{returnType}} {{methodName}}({{>api_path_parameters}});
{{#hasQueryParameters}}

{{>api_description}}
{{>api_annotations}}
  {{returnType}} {{methodName}}({{>api_path_parameters}}{{#hasPathParameters}}, {{/hasPathParameters}}@QueryMap(encoded=true) {{queryParametersClassName}} queryParameters);
  {{>api_query_parameter_pojo}}
{{/hasQueryParameters}}
{{/operations}}
}
