{{#queryParameters}}{{#-first}}
  final class {{queryParametersClassName}} extends HashMap<String, Object> { {{/-first}}
    /**
     * {{description}}
     */
    public {{queryParametersClassName}} {{name}}({{type}} {{name}}) {
      put("{{propertyName}}", {{name}});
      return this;
    }
{{#-last}}  } {{/-last}}{{/queryParameters}}