{{#queryParameters}}{{#-first}}
  @Builder
  @Data
  final class {{queryParametersClassName}} { {{/-first}}
    /**
     * {{description}}
     */
    @JsonProperty("{{propertyName}}")
    private {{type}} {{name}};
{{#-last}}  } {{/-last}}{{/queryParameters}}