  @HTTP(
    method = "{{httpMethod}}",
    path = "{{path}}"{{#requestBodyType}},
    hasBody = true{{/requestBodyType}}
  )
  @Headers({ {{#requestBodyType}}
    "Content-Type: {{requestBodyContentType}}",{{/requestBodyType}}
    "Accept: */*"
  })