{{#fields}}{{#hasDescription}}
  /**
   * {{description}}
   */{{/hasDescription}}{{#required}}
  @NonNull{{/required}}
  @JsonProperty("{{propertyName}}"){{#singular}}
  @Singular("{{.}}"){{/singular}}
  private {{type}} {{name}};
{{/fields}}