{{#fields}}{{#hasDescription}}
  /**
   * {{description}}
   */{{/hasDescription}}{{#required}}
  @NonNull{{/required}}
  @JsonProperty("{{propertyName}}"){{#serializeUsing}}
  @JsonSerialize(using = {{.}}){{/serializeUsing}}{{#singular}}
  @Singular(value = "{{.}}", ignoreNullCollections = true){{/singular}}
  private {{type}} {{name}};
{{/fields}}