{{>licenseInfo}}
package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

/**
 * {{description}}
 */
@SuppressWarnings({"squid:S1192", "WeakerAccess", "unused"})
@Builder(toBuilder = true)
@AllArgsConstructor{{#hasFields}}
@NoArgsConstructor{{/hasFields}}
@Data
@ToString
public class {{className}} implements Model{{#kubernetesListType}}, ListModel<{{.}}>{{/kubernetesListType}} {

{{>model_fields}}
}

