.pods-logs-page .ReactVirtualized__List {
  border: 0;
  outline: none;
}

.pods-logs-page .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.pods-logs-page .simplebar-scrollbar::before {
  background-color: white;
  cursor: pointer;
}